*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.first_main{
    width: 100%;
    height: 700px;
    background-image: url('../assests/fond1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}





@media screen and (min-width: 1200px) {
    .first_main {
        height: 800px;
        background-position: center;
    }
}


@media screen and (max-width: 1199px) {
    .first_main {
        height: 600px;
        background-position: center;
        background-attachment: scroll;
    }
}


@media screen and (max-width: 768px) {
    .first_main {
        height: 500px;
        background-size: cover;
        background-position: center;
    }
}


@media screen and (max-width: 480px) {
    .first_main {
        height: 400px;
        background-size: cover;
        background-position: center;
    }
}