*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.content_main{
    width: 100%;
    height: 600px;
    background-image: url('../assests/fond2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}


.content_form {
            border: 2px solid #C45E38; /* Rouge brique comme des tomates */
            background-color: #FFF5E6; /* Fond légèrement doré comme une croûte de pain */
            display: flex;
            flex-direction: column;
            width: 300px;
            height: 400px;
            margin: auto;
            position: relative;
            top: 50px;
            justify-content: space-between;
            padding: 20px;
            border-radius: 15px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
       
        
        .content_input {
            width: 90%;
            margin: 10px auto;
            height: 35px;
            border-radius: 8px;
            border: 2px solid #D2B48C; /* Beige comme de la cannelle */
            background-color: #FFFDF8; /* Blanc cassé comme de la farine */
            padding: 0 10px;
            font-size: 14px;
            transition: all 0.3s ease;
            box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
        }
        
        .content_input:focus {
            outline: none;
            border-color: #B47846; /* Brun comme du sucre roux */
            box-shadow: 0 0 5px rgba(180, 120, 70, 0.5);
            color: #5C3317; /* Brun foncé comme du café */
        }
        
        .content_button {
            width: 60%;
            height: 40px;
            margin: 20px auto;
            background-color: #A52A2A; /* Brun-rouge comme de la sauce tomate */
            color: white;
            border: none;
            border-radius: 20px;
            font-weight: bold;
            cursor: pointer;
            transition: all 0.3s ease;
            font-size: 16px;
        }
        
        .content_button:hover {
            background-color: #8B2323; /* Rouge plus foncé comme du paprika */
            opacity: 0.9;
            transform: scale(1.05);
        }
        
        label {
            color: #5C3317; /* Brun foncé comme du chocolat noir */
            margin-left: 15px;
            font-size: 14px;
        }

       

@media  (max-width: 430px) and (max-height: 932px) {
    .content_main{
        position: relative;
        top: 1100px;
    }
}


@media  (max-width: 1024px) and (max-height: 1366px) {
    .content_main{
        position: relative;
        top: 1200px;
    }
}